
/*font-family: 'Baloo Chettan', cursive;
font-family: 'Patua One', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Alfa Slab One', cursive;
*/
html{
    height:100%;
    width:100%;
    
}
body{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Patua One', cursive;
    
}
#curtain{
    height:100%;
    width:100%;
    z-index:3;
    background:white;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    

    
}

#titlecontainer{
    borer:1px solid black;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}



#earth{
    height:200px;
    width:200px;
   
    

}

#title{
    
    font-size:38px;
    margin-bottom:20%;
    color:rgb(76, 88, 112);
}

#start{
    height:50px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    : 1px solid black;
  margin-top:20%;
  background: rgb(76, 88, 112);
  border-radius:10px;
  color:white;
}

#container{
    height:100%;
    width:100%;
    background:white;
    display:flex;
    flex-direction: column;
  
    align-items: center;
    border:1px solid black;
    z-index:2;
  
}

#citydisplay{
    margin-bottom:10%;
    font-size:40px;
    boder:1px solid black;
    
 
}
#radio1{
    height:70%;
    width:100%;
    opacity:0;
    z-index:1;
    
}
#radio2{
    height:100%;
    width:100%;
    opacity:0;
}
#radio3{
    height:100%;
    width:100%;
    opacity:0;
}
#radio4{
    height:100%;
    width:100%;
    opacity:0;
}
.tempdisplay{
    width:70%;
    height:7%;
    background:rgb(76, 88, 112);
    margin:5%;
    border-radius:  25px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
    box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3);
   border-color: white;
  
   
}

#temp1{
    position:absolute;
    left:200px;
    top:155px;
   
}

#temp2{
    position:absolute;
    left:200px;
    top:245px;
   
}

#temp3{
    position:absolute;
    left:200px;
    top:340px;
   
}
#temp4{
    position:absolute;
    left:200px;
    top:430px;
   
}

#next{
    height:5%;
    width:20%;
    border:3px solid black;
    border-color:rgb(76, 88, 112);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:10%;
    background:white;
    margin-top:10%;
}


